header.masthead
{
	position: relative;
	height: 550px;
	margin-bottom: 20px;
	padding-top: 60px;
	background-position:center center;
	background-repeat:no-repeat;
	background-color:transparent;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-color: #bbb;

	.container
	{
		height: 100%;
		position: relative;
		z-index: 3;
	}

	.masthead-title
	{
		position: absolute;
		bottom: 10px;
		color: #fff;
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);

		h1
		{
			small
			{
				color: #fff;
			}
		}

		blockquote
		{
			footer
			{
				color: #fff;
			}
		}
	}

	#gmap
	{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}


}

header.masthead:after
{
	content: '';
	height: 240px;
	margin-top: -240px;
	display: block;
	z-index: 2;
	#gradient > .vertical(rgba(0,0,0,0); rgba(0,0,0,0.75); 0%; 100%);
}

@media (max-width: @screen-xs-max) {
	header.masthead
	{
		height: 350px;
	} 
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	header.masthead
	{
		height: 400px;
	} 
}

.panel-heading.image
{
	position: relative;
	height: 140px;
	background-position:center center;
	background-repeat:no-repeat;
	background-color:transparent;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	margin-bottom: 30px;

	.avatar
	{
		display: block;
		position: absolute;
		left: 50%;
		bottom: 0;
		.translate(-50%; 50%);
	}
}


footer.container
{
	padding: 20px 0;
}

.push-top
{
	margin-top: 60px;
}